    <div class="contentmain">
      <div class="row skylinebg">
        <div class="large-12 columns text-center padding6v">
          <h1 class="header1index">The UK's safest directory of independent escorts</h1>
          <div class="row">
            <div class="large-3 columns">
              <br>
            </div>
            <div class="large-6 columns">

                    <form METHOD="POST" onsubmit="window.open(this.elements[0].
                    options[this.elements[0].selectedIndex]. value,'_top'); return(false)">
                      <select class="margin0b locationselect" NAME="service" SIZE="1" width="30" onChange="window.open(this.options[this.selectedIndex].value,'_top')">
                      <option value="" SELECTED>Select your location</option>
                      <%= @areas.each do |area| %>
                        <option value="<%= root_url(:subdomain => area.name) %>"><%= area.name %></option>
                      <% end %>
                  </select>
                </form>
            </div>
            <div class="large-3 columns">
              <br>
            </div>
          </div>
        </div>
        <%= image_tag('skyline.png') %>
      </div>
      <div class="row">
        <div class="large-12 columns purplebg">
        </div>
      </div>
    </div>