<h1>Verified-pescorts.net</h1>
<p>Search across the UK's fastest growing <strike>franchise</strike> ESCORT directory</p>
<%= link_to 'London', london_url(subdomain: 'london') %>
<%= link_to 'Exeter', exeter_url(subdomain: 'exeter') %>